body{
background: black;
  margin: 0;
}


img{
  max-width: 540px;
  height: auto;

  font-family: 'VT323', monospace;
margin: 50px;
box-shadow: 0px 0px .1em #6EFFA6;
display: none;

  }
  #text{
    display: none;


  }

h3
{

  color: white;


  font-size: 3.5vh;
  font-family: 'VT323', monospace;

  padding: 20px;
  text-align: left;

}

.hdrs
{
    font-family: 'VT323', monospace;
text-align: center;
padding-top: 5%;
letter-spacing: .3em;

	 font-size: 6.5vh;
/*text-shadow:  3px 0 blue;*/
}

#socials
{
  background: none;
  color: #6EFFA6;
  font-size: .6em;
  text-decoration: none;

  transition: .1s;
}
#socials:hover{
 transform: scale(1.05);
}
/* compootr */
@media screen and (min-width: 1500px) {

  h3
  {
    width: 60%;
  }
}
/* on Mobile */

@media screen and (max-width: 1500px) {
  h3
  {
    width: 90%;
  }

}
